#intro {
    background: url('../img/1.jpg') 50% 0 no-repeat fixed;
    color: #ffffff;
    height: 700px;
    margin: 0 auto;
    padding: 0;
}

#second {
    background: url('../img/2.jpg') 50% 0 no-repeat fixed;
    color: #fff;
    height: 400px;
    margin: 0 auto;
    overflow: hidden;
    padding: 0;
}

#third {
    background: url('../img/3.jpg') 50% 0 no-repeat fixed;
    color: #fff;
    height: 300px;
    margin: 0 auto;
    overflow: hidden;
    padding: 0;
}

#fifth {
    background: url('../img/1.jpg') 50% 0 no-repeat fixed;
    color: #fff;
    height: 500px;
    margin: 0 auto;
    overflow: hidden;
    padding: 0;
}